<% include ../partials/header %>

<h3><%= campgrounds.name %></h3>

<img src="<%= campgrounds.image %>" alt="">

<p> <%= campgrounds.description %> </p>

<%
  campgrounds.comments.forEach(function(xComment) { %>
    <li> <strong><%= xComment.author %></strong> says <%= xComment.text %> </li>
  <% }); %>

<% include ../partials/footer %>
